
body, html {
  height: 100%;
  width:100%;
  margin: 0px;
  padding:0px;
  overflow-x: hidden;
}



.xg {
  
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://static.wikia.nocookie.net/xg-music/images/0/06/XG_Something_Ain%27t_Right_1.jpg/revision/latest/");*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url("./images/ateez1.jpeg");

  height: 150%;

  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;

  position:relative;
}

/*.xg_text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:2000%;
}*/

.xg_text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size:1000%;
}

.gx {
  color:white;
  text-align: center;
  font-family:monospace;
}
.gxx {
  font-size: 300%;
}
.ateg {
  color:white;
  font-family:monospace;
}
.ateezk {
  background-color: rgb(18, 18, 18);
  height:500px;
  width:100%;
}
.ate {
  float: left;

}
.gg {
  float:right;
  margin-right:40px;
}

.footer {
  text-align: center;
  color: black;
  font-size:800%;
}
